body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.btn {
    display: flex;
    gap: 10px;
}

.red {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.green {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.blue {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}